@model UserModel
@{
    ViewData["Title"] = "Index";
}

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "_Layout";
}

<!--Developed by Group Therapy 4/10/2022 -->
<html>

<head>

</head>

<body>
    <div class="mainBox">

        <!-- Add in the Main Navigation Menu -->
        <div class="navigationBar">
            <!-- Options for Icon based LOGO or Image based LOGO *******************-->
            <p class="navigationLogoIcon"><span><i class="fa fa-user-circle" aria-hidden="true"></i></span></p>
            <!--<p class="navigationLogo"><span><img class="navigationLogoImage" src="images/logo.png"></img></span></p>-->
            <p class="navigationTitleName">LOGO</p>
        </div>
        <br>

       <!--Page Text Area-->
        <div class="welcomeScreenMain">
            <div class="welcomeScreenSection">
                <p class="pageTitleTextWelcome">Get Started Today With</p>
                <p class="pageLogoFancy">PetPal</p>
                <div class="welcomeButton">
                    <button class= "buttonCustomTitle" onclick="showSignUp();">Log In</button>
                    <a href="@Url.Action("Create", "UserModels")" target="_self"><button class="buttonCustomTitle">Sign Up</button></a>
                </div>
            </div>
            <!--Image/Slideshow area.-->
            <div class="welcomeScreenSection">
                <img src="images/cat_welcome.png" alt="Cat Head."></img>
            </div>            
        </div>

        <div class="welcomeScreenMain">
            <div class="featureScreenSection">
                <i class="fa fa-user-o" id="iconFeature" aria-hidden="true"></i></a></span></p>
                <p class="featureText">Family Accounts</p>
                <p class="fancyText">Link your family to all your pets get the whole family involved.</p>
            </div>
            <div class="featureScreenSection">
                <i class="fa fa-calendar" id="iconFeature" aria-hidden="true"></i></a></span></p>
                <p class="featureText">Scheduling</p>
                <p class="fancyText">Schedule medications and appointments for your pets.</p>
            </div>
            <div class="featureScreenSection">
                <i class="fa fa-heart-o" id="iconFeature" aria-hidden="true"></i></a></span></p>
                <p class="featureText">Health</p>
                <p class="fancyText">A great way to manage your pets health.</p>
            </div>
        </div>

        <div class="overlaySignUpBlur" id="overlaySignUpBlur">
            <div class="overlaySignUp">
                <!--Sign In form starts here. Joshua Wagner-->
                <form id="account" method="post" asp-action="ProcessLogin">                    
                    <!--Formatting lines are left as is but related form stuff replaced some content. Joshua Wagner-->
                    <p class="featureText">Log in to PetPal</p>
                    <div class="overlaySectionButtonLocation">
                        <button class= "buttonCustomTitle" onclick="showSignUp();">&nbsp;X&nbsp;</button>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!--Section for Email input. Joshua Wagner-->
                    <div class="formSection">
                        <p class="formText">Email</p>
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Email" class="form-label"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br></br>
                    <!--Section for Password input. Joshua Wagner-->
                    <div class="formSection">
                        <p class="formText">Password</p>
                        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Password" class="form-label"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    
                    <div>
                        <button id="login-submit" type="submit" class="buttonCustomTitle">Log in</button>
                    </div>                    
                </form>
            </div> 
        </div>
    </div>
          
    <script src="~/js/signUpProtoytype.js"></script>        
</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

