@model GroupTherapyWebAppFinal.Models.UserModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <!-- Developed by Group Therapy on 28/10/2022 -->
<head>
 
</head>


<body>
    <div class="mainBox">

        <!-- Add in the Main Navigation Menu -->
        <div class="navigationBar">
            <!-- Options for Icon based LOGO or Image based LOGO *******************-->
            <p class="navigationLogoIcon"><span><i class="fa fa-user-circle" aria-hidden="true"></i></span></p>
            <!--<p class="navigationLogo"><span><img class="navigationLogoImage" src="images/logo.png"></img></span></p>-->
            <p class="navigationTitleName">LOGO</p>
        </div>
        <br>

       <!--Page Text Area-->
        <div class="welcomeScreenMain">
            <div class="welcomeScreenSection">
                <p class="pageTitleTextWelcome">Sign up to</p>
                <p class="pageLogoFancy">PetPal</p>
                <!--Form Buttons-->
                <form class="signUpForm" id="form" name="signupForm">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" style="margin-bottom:8px;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" style="margin-bottom:8px;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" style="margin-bottom:8px;" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserType" class="control-label"></label>
                        <input asp-for="UserType" class="form-control" style="margin-bottom:8px;" />
                        <span asp-validation-for="UserType" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <input asp-for="Gender" class="form-control" style="margin-bottom:8px;" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="DateCreated" type="hidden" class="form-control" style="margin-bottom:8px;" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                    </div>

                    <!--SignUp Button-->
                    <div class="form-group">
                        <input type="submit" value="Sign Up" class="buttonCustomTitle" />
                    </div>
                </form>                
            </div>
            <!--Image/Slideshow area.-->
            <div class="welcomeScreenSection">
                <img src="images/cat_welcome.png" alt="Cat Head.">
            </div>            
        </div>
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
</body>
</html>

