<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - PetPalWebApp</title>
    <!--meta keywords-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="pagestyle" rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <!--css stylesheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="" />    
</head>
<body>
    <header>
        <!--Add Header/Topbar content here-->
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <!--Add Footer/Bottombar content here-->
    </footer>
</body>
</html>
